.statistics {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid rgb(88, 87, 87);
  border-radius: 5%;
  margin-left: 50px;
  overflow: hidden;
}
.stat-list {
  padding: 15px;
  display: inline-flex;
  background-color: rgb(219, 213, 213);
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.label {
  color: rgb(82, 79, 79);
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  font-size: larger;
}

.title {
  font-weight: 700;
  font-size: xx-large;
}
