.statistics {
  flex-direction: column;
  border: 1px solid rgb(88, 87, 87);
  border-radius: 5px;
  overflow: hidden;

  &:not(:first-of-type) {
    margin-top: 15px;
  }
}
.stat-list {
  padding: 15px;
  display: inline-flex;
  background-color: rgb(219, 213, 213);
  color: #fff;
}

.label {
  color: rgb(82, 79, 79);
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  font-size: larger;
}

.title {
  padding: 0 10px;
}
