.table-head {
  background-color: rgb(115, 170, 196);
  font-weight: 700;
}

.transaction-history {
  border: 1px solid rgb(88, 87, 87);
  font-size: 16px;
  border-radius: 3px;

  & tr:nth-child(2n) {
    background-color: rgb(207, 233, 243);
  }

  & td,
  & th {
    border: 0.5px solid rgb(88, 87, 87);
    padding: 7px 30px;
  }
}
